/* Split the screen in half */
.split {
    height: 90%;
    width: 50%;
    position: fixed;
    /* z-index: 1; */
    top: 50;    
    overflow-x: auto;
    padding-top: 0px;
  }
  
  /* Control the left side */
  .left {
    /* left: 0; */
    background-color :antiquewhite;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* overflow:scroll */
  }
  
  /* Style the image inside the centered container, if needed */
 .textArea {
     top: 0%;
     height: 100%;
     width:  100%;
 }
 label { 
    float: left; 
    width: 200px;
} 
  input{
      float: left;
      width: 150px;
      height: 28px;
  }

  select{
      float: left;
      width: 160px;
      height: 28px;
  }

  button{
      /* float: left; */
      width: 180px;
      height: 28px;
  }

