name: Deploy to GitHub Pages
    on:
      push:
        branches:
          - master
    jobs:
      build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v1

        - name: Build
          run: |
            npm install
            npm run-script build
          env:
            REACT_APP_TOKEN: ${{ secrets.REACT_APP_TOKEN }}

        - name: Deploy
          uses: prabhum2/jsonmodel
          with:
            BRANCH: gh-pages
            FOLDER: dist
